In [2]:
import pandas as pd
from io import BytesIO
import requests
import numpy as np

1. Загрузите данные из Google Sheets. 
Посчитайте процент мужчин среди всех посетителей сайта, округлите ответ до целых.

In [14]:
req = requests.get('https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv')
data = req.content

df = pd.read_csv(BytesIO(data))

In [17]:
df

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [25]:
users_sum = df.users.sum()
male_per = (df[df.gender == 'male'].users[1]/users_sum*100).round()
male_per

41.0

2. Скачайте файл с данными посещаемости сайта Яндекс.Метрика
При помощи функции np.where создайте серию, в которую будет записываться 1,
если посещения были сделаны роботами с браузера, содержащего Chrome в названии,
и 0 в других случаях. Поместите получившуюся серию в переменную chrome_robots.

In [3]:
df = pd.read_csv('7_browser.csv')

In [4]:
chrome_robots = pd.Series(np.where((df.browser.str.contains('Chrome')) & (df.user_type=='Robots'), 1, 0))

In [5]:
chrome_robots.head(10)

0    0
1    0
2    1
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int64

3. У вас есть датасет с данными о кликах и показах по объявлению, в котором есть пропуски. 
Вычислите количество строк без пропусков в колонке click_type. Запишите ответ в переменную not_nan_count

In [56]:
df = pd.read_csv('sample_ads.csv')

In [57]:
df.head()

   ad_id user_id click_type
0  12345   qwert        top
1  12345   fsssc     center
2  12345   vfvgg        NaN
3  12345   asrvv        NaN
4  12345   tynuy        top

In [79]:
not_nan_count = df.click_type.notna().sum()

4. В списке lst находятся различные элементы. Создайте список new_list и сделайте следующее:
при помощи конструкции try except и цикла попробуйте преобразовать каждое значение в листе в int
если это получилось – добавьте преобразованное значение  в список new_list

In [12]:
lst = [0,'1',0.23,-8,'a',9,'c']
new_list = []

In [13]:
for i in lst:
    try:
        i = int(i)
        new_list.append(i)
    except:
        print('"{}" was not added to the new_list'.format(i))

"a" was not added to the new_list
"c" was not added to the new_list

In [14]:
new_list

[0, 1, 0, -8, 9]

5. А теперь попробуем воспользоваться знаниями использования Telegram API. 
Отправьте себе в личку любое послание, а в ответ к этому шагу напишите ник бота, 
от имени которого будете отправлять сообщения.

In [1]:
import requests
import json
from urllib.parse import urlencode

In [2]:
# В целях безопасности token и chat_id изменены

token = 'your_token'
chat_id = 123  

message = "Hi! I'm your personal bot."

params = {'chat_id': chat_id, 'text': message}

base_url = f'https://api.telegram.org/bot{token}/'
url = base_url + 'sendMessage?' + urlencode(params)

In [3]:
resp = requests.get(url)

In [8]:
resp